.body{
    background-color: #f0f2f5
}
.content{
    max-width: 400px;
    margin: 0 auto 50px;
    text-align: center;
}
.logo{
    max-height: 105px;
}
.title{
    font-size: 24px;
    line-height: 28px;
    width: auto;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.form {
    width: 380px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin-left: 40px;
    padding: 15px 15px 15px 15px;
    position: relative;
    left: -40px;
}
.e-input{
    width: 365px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    padding-left: 10px;
    font-size: 17px;
}

.p-input{
    margin-top: 20px;
    width: 365px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    padding-left: 10px;
    font-size: 17px;
}
.login{
    margin-top: 20px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    height: 48px;
    padding: 0 16px;
    width: 375px;
    color: white;
}
.emphasis{
    align-items: center;
    border-bottom: 2px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    width: 375px;
    position: relative;
    left: -13px;
    top: 10px;
}
.forget{
    color: #1877f2;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: auto;
    top: 15px;
}
.new{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    padding: 0 16px;
    background-color: #42b72a;
    color: white;
    margin-left: 70px;
    height: 48px;
    width: 260px;
    position: relative;
    left: -35px;
}
.languages{
    display: flex;
    list-style-type: none;
    width: 60%;
    align-items: center;
    padding-top: 20px;
    font-size: 12px;
    padding-inline-start: 40px;
    flex-wrap: wrap;
    position: relative;
    left: 130px;
}
.footer{
    background: #fff;
    color: #1c1e21;
    height: auto;
    padding-top: 20px;
    font-size: 12px;
}
.useful{
    display: flex;
    list-style-type: none;
    width: 60%;
    align-items: center;
    padding-top: 20px;
    font-size: 12px;
    flex-wrap: wrap;
    position: relative;
    left: 130px;
    
}
.emphasis-footer{
    align-items: center;
    border-bottom: 2px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    width: 60%;
    position: relative;
    left: 150px;
}
li{
    color: #737373;
    direction: ltr;
    line-height: 1.34;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
}
.p{
    color: #737373;
    font-size: 10px;
    padding-bottom: 30px;
    position: relative;
    left: 180px;
}